.xl-text {
    font-size: 65px;
}

// .navbar {
//     transition: all .9s ease-in-out;
// }

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/header-background.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

.vertical-decoration {
    top: 12%;
    width: 24px;

}

.details .vertical-decoration {
    top: 0;
    left: 0;

}

.details-2 .vertical-decoration {
    top: 10%;
    right: 0;

}

.hr-heading {
    width: 3.5rem;
    height: 0.125rem;
    margin-top: 0.625rem;
    border: none;
    background-color: var(--bs-primary);
    opacity: 1;
}

// Video Play button
.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    display: block;
    padding: 1.125rem 1.125rem 1.125rem 1.175rem;
    width: 32px;
    height: 32px;
    box-sizing: content-box;
    cursor: pointer;
}

.video-play-button::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    display: block;
    width: 76px;
    height: 76px;
    cursor: pointer;
    background: var(--bs-primary);
    animation: pulse-border 1500ms ease-in-out infinite;
}

.video-play-button::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: var(--bs-primary);
    transition: all 200ms;
}

.video-play-button span {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 25px;
    opacity: .7;
}

.video-play-button span:hover {
    opacity: 1;
}

.video-modal .modal-dialog {
    max-width: 1050px;
    margin-top: 20px;
}

.modelProject .modal-dialog {
    max-width: 900px;
    margin-top: 20px;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@media (max-width:992px) {
    .xl-text {
        font-size: 50px;
    }

    .header {
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../images/header-background.jpg") center center no-repeat;
    }

    .video-points {
        padding: 0 !important;
        text-align: center;
    }

    .video-points .col-lg-4 {
        margin-bottom: 20px;
    }
}